[submodule "trino"]
	path = trino-by-rust/trino
	url = https://github.com/trinodb/trino.git
[submodule "datafusion/datafusion"]
	path = datafusion/datafusion
	url = https://github.com/apache/datafusion.git
